.flex-container {
    display: flex;
    align-items: flex-start; /* Alinha os itens no topo */
    gap: 1em; /* Reduzindo o espaçamento entre os itens */
}

.flex-item {
    flex: 1; /* Cada item ocupará o mesmo espaço */
}

.rt-list-ul {
    max-height: 400px; /* Defina a altura máxima para a lista */
    overflow-y: auto; /* Adicione barra de rolagem vertical */
}

@media (max-width: 720px) {
    .flex-container {
        flex-direction: column; /* Muda a direção dos itens para coluna */
    }

    .flex-item {
        width: 100%; /* Cada item ocupará 100% da largura */
    }

    .rt-list-ul {
        max-height: none; /* Remove a altura máxima para a lista */
        overflow-y: visible; /* Remove barra de rolagem vertical */
    }
}

label.rt-input-text, label.rt-input-number {
    display: block;
    margin-bottom: 0.2em;
    align-items: flex;
    text-align: left;
    padding-top: 0.1em;
    padding-right: 10em;
}

label.rt-input-text ::placeholder, label.rt-input-number ::placeholder {
    font-size: 12px;
    color: var(--gray-light-mode-color);
}

label.rt-input-text input, label.rt-input-number input {
    display: flex;
    text-align: center;
    margin-bottom: 1em; /* Reduzindo o espaçamento inferior */
    width: 25em;
    height: 1.4em;
    border: 0.2px solid var(--gray-light-mode-color);
    border-radius: 2.1px;
}

label.rt-input-text input:focus, label.rt-input-number input:focus {
    transform: scale(1.1);
    transition: transform 0.2s;
}

label.rt-input-number input[type="number"]::-webkit-outer-spin-button,
label.rt-input-number input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button[type="submit"] {
    display: block;
    margin-bottom: 1em; /* Reduzindo o espaçamento inferior */
    align-items: flex;
    width: 21.4em;
    height: 1.8em;
    padding-top: 0.1em;
    text-align: center;
    background-color: var(--positive-color);
}

button[type="button"] {
    display: block;
    margin-bottom: 1em; /* Reduzindo o espaçamento inferior */
    align-items: flex;
    width: 21.4em;
    height: 1.8em;
    padding-top: 0.1em;
    text-align: center;
    background-color: var(--secondary-color);
}

ul.rt-list-ul {
    list-style-type: none;
    padding: 0;
}

ul.rt-list-ul li.rt-list-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3em 0; /* Reduzindo o espaçamento entre os itens */
    padding: 0.5em;
    border: 1px solid var(--gray-light-mode-color);
    border-radius: 5px;
}

button.rt-remove-btn {
    margin-left: 0.3em; /* Reduzindo o espaçamento à esquerda */
    background: none;
    border: none;
    cursor: pointer;
    background-color: var(--negative-color);
    color: var(--text-color);
}

@media (max-width: 720px) {
    label.rt-input-text, label.rt-input-number {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }

    label.rt-input-text input, label.rt-input-number input {
        width: 80%;
        border-top: none;
        border-right: none;
        border-left: none;
        border: 50%;
    }

    button[type="submit"], button[type="button"] {
        width: 83%;
        margin-bottom: 10%; 
        align-self: center;
        margin-left: 9.8%;
    }
}
